
    h1 {      
  color: brown;
 }
 .header{
     background-color : pink;
     display:flex;
     justify-content: center;
 }
 .grid{
     display:flex;
     justify-content:space-evenly;
     flex-wrap:wrap;
     background-color:green;
 }
 p{
     font-size:5;
     color:blue;
     font-weight:bold;
     text-align:center;
 }
 .footer{
     display:flex;
     justify-content:space-around;
     align-items:stretch;
     background-color:yellow;
 }

    